<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <sessionState timeout="7600" mode="InProc"/>
    <pages theme="DmsSkin" enableSessionState="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="cc1" namespace="PdfViewer" assembly="PdfViewer"/>
        <add tagName="EntityModule" tagPrefix="uc" src="~/UserControl/EntityModule.ascx"/>
        <add tagName="EntityModuleCentrum" tagPrefix="uc" src="~/UserControl/EntityModuleCentrum.ascx"/>
        <add tagName="MakerChecker" tagPrefix="uc" src="~/UserControl/MakerChecker.ascx"/>
        <add tagName="ListItem" tagPrefix="li" src="~/UserControl/ListItems.ascx"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!-- <authentication mode="Forms">
      <forms name="DMSAuth" loginUrl="Shared/index.htm" defaultUrl="Shared/HomePage.aspx" slidingExpiration="true" timeout="60">
      </forms>
    </authentication>
    <authorization>
          <deny users="?"/>
    </authorization>-->
    <httpRuntime maxRequestLength="500000000" executionTimeout="36000"/>
  </system.web>
  <connectionStrings>
    <add name="ADConnection" connectionString="LDAP://10.100.5.201:389"/>
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=SANJAY_YADAV\SQLEXPRESS;Initial Catalog=DMS_UAT;Persist Security Info=True;User ID=sa;Password=pass@123;connect timeout=2000;"/>
    <!--<add key="ConnectionString" value="Data Source=192.168.147.36;Initial Catalog=DMS_Virescent;Persist Security Info=True;User ID=UsrDMSMhada;Password=mhada@123$;connect timeout=2000;" />-->
    <add key="ProviderName" value="System.Data.SqlClient"/>
    <add key="DMSMain" value="D:\DMS\"/>
    <add key="DMSDocument" value="D:\DMS\DMSDocument\"/>
    <add key="DMSArchive" value="D:\DMS\DMSDocumentArchive\"/>
    <add key="DMSLog" value="D:\DMS\DMSLog\"/>
    <add key="DMSLucene" value="D:\DMS\DMSLucene\"/>
    <add key="DMSBulkUpload" value="D:\DMS\DMSBulkUpload\"/>
    <add key="DMSSuccessError" value="D:\DMS\DMSSuccessError\"/>
    <add key="DMSDocumentAxisTrustee" value="D:\DMS\DMSDocument\AxisTrustee\"/>
    <add key="DMSTiffBackup" value="D:\DMS\DMSTiffBackup\"/>
    <add key="DMSVersion" value="D:\DMS\DMSVersion\"/>
    <add key="FilesPath" value="D:\DMS\FilesPath\"/>
    <add key="DMSTemp" value="D:\DMS\DMSTemp"/>
    <add key="SharedDocumentWebLink" value="https://bit.ly/3mf20Gi"/>
    <add key="FileStorageType" value="1"/>
    <!--1 : FileSystem || 2 : DatabaseSystem -->
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ServerName" value="10.100.7.202"/>
    <add key="DatabaseName" value="DMS"/>
    <add key="UserID" value="UsrDms"/>
    <add key="Password" value="dms@123"/>
    <add key="MaxChatRooms" value="10"/>
    <add key="UserChatRoomSessionTimeout" value="120"/>
    <add key="ChatRoomMaxUsers" value="50"/>
    <add key="MaxUsers" value="50"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="MaxNamedUser" value="1"/>
    <add key="MaxConcurrentUser" value="2"/>
    <add key="EnabledNamedConcurrentUser" value="0"/>
    <!--0 : false || 1 : true -->
    <add key="EmailIDFrom" value="team.dms@stockholdingdms.com"/>
    <add key="Host" value="spl-exch01.SHCILPROJECTS.COM"/>
    <add key="EmailIDFromCredentials" value="P@ss#123"/>
    <add key="SmtpServer" value="smtp.logix.in"/>
    <add key="SmtpServerPort" value="587"/>
    <add key="MaxLoginAttempt" value="5"/>
    <!--60 mins-->
    <add key="PasswordExpiry" value="60"/>
    <!--60 days-->
    <add key="lockusers" value="1"/>
    <!--0 : false || 1 : true -->
    <add key="bypasscertificate" value="1"/>
    <!--0 : false || 1 : true -->
    <add key="PDFViewer" value="1"/>
    <!--0 : Image Viewer || 1 : PDF Viewer -->
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="http://10.100.7.201:8046/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="Service.IService" name="BasicHttpBinding_IService"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="102400" maxBufferPoolSize="524288" maxReceivedMessageSize="102400" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="LargeFileHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="DMS.Services.DMSUploadDownloadWCFService" behaviorConfiguration="DMS.Services.UploadBehavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="LargeFileHttpBinding" contract="DMS.Services.IDMSUploadDownloadWCFService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DMS.Services.UploadBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <applicationSettings>
    <DMS.Properties.Settings>
      <setting name="DMS_FAS_web_ref_SaleInvoice" serializeAs="String">
        <value>http://10.100.7.201:4213/NewSaleInvoice/SaleInvoice.asmx</value>
      </setting>
    </DMS.Properties.Settings>
  </applicationSettings>
</configuration>