.cssDiv
{	PADDING-RIGHT: 2px;	PADDING-LEFT: 2px; 	SCROLLBAR-FACE-COLOR: #FFFFFF; 	PADDING-BOTTOM: 2px; 
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;	OVERFLOW: auto;	BORDER-LEFT: #014783 0px solid; 
	WIDTH: 98%; SCROLLBAR-SHADOW-COLOR: #014783; SCROLLBAR-3DLIGHT-COLOR: #014783; 
	SCROLLBAR-ARROW-COLOR: #014783; PADDING-TOP: 2px; SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF; 
	HEIGHT: 200px; scrollbar-border-color: #014783;background-color:Gray;border-color:Blue;color:Blue;}

.cssDivitem
{	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; SCROLLBAR-FACE-COLOR: #FFFFFF; PADDING-BOTTOM: 2px; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
	OVERFLOW: auto; BORDER-LEFT: #014783 0px solid;	SCROLLBAR-SHADOW-COLOR: #014783; SCROLLBAR-3DLIGHT-COLOR: #014783; 
	SCROLLBAR-ARROW-COLOR: #014783; PADDING-TOP: 2px; SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF; HEIGHT: 400px; scrollbar-border-color: #014783
}
.cssDiv1
{	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; SCROLLBAR-FACE-COLOR: #FFFFFF; PADDING-BOTTOM: 2px; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
	OVERFLOW: auto;	BORDER-LEFT: #014783 0px solid; WIDTH: 98%; SCROLLBAR-SHADOW-COLOR: #014783; SCROLLBAR-3DLIGHT-COLOR: #014783; 
	SCROLLBAR-ARROW-COLOR: #014783;	PADDING-TOP: 2px; SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF; HEIGHT: 500px;scrollbar-border-color: #014783
}
.abtuspad
{PADDING-LEFT: 35px;}
	
	.RestoNeed{PADDING-LEFT: 12px;	}
.leftgreyband {	BORDER-RIGHT: #c2c2c2 1px solid; WIDTH: 13px; BACKGROUND-COLOR: #f0f0f0}
.menutext {	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
.verdana10white {	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none;}
.cms11white {	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.cms11white A {	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.cms11white A:hover {	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.verdana12white {	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none;}
.newslettertext {	BORDER-RIGHT: #324801 1px solid; BORDER-TOP: #324801 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #324801 1px solid; WIDTH: 209px; BORDER-BOTTOM: #324801 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 13px; TEXT-ALIGN: left; TEXT-DECORATION: none;}
.vardana11 {	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none;}
.vardana11 A {	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none;}
.vardana11 A:hover {	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none;}
.searchtext {	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 133px; COLOR: #014783; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 16px; TEXT-ALIGN: left; TEXT-DECORATION: none;}

.searchtextnew {	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 200px; COLOR: #014783; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none;}

.searchtextddl {	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 200px; COLOR: #014783; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none;}

.searchtextAdd {	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 200px; COLOR: #014783; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 40px; TEXT-ALIGN: left; TEXT-DECORATION: none;}

.chkboxyes {	  FONT-SIZE: 11px;  COLOR: #014783; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 16px; TEXT-ALIGN: left; TEXT-DECORATION: none;}

.cmstxt {	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 300px; COLOR: #014783; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none;}

.cmsddl {	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 300px; COLOR: #014783; BORDER-BOTTOM: #7f9db9 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none;}

.carttitem {	BORDER-RIGHT: #7f9db9 1px solid;BORDER-TOP: #7f9db9 1px solid;  FONT-SIZE: 10px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 275px; COLOR: #014783;  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: center  ; TEXT-DECORATION: none; background-color:#ffffff;  }

.carttotal {	BORDER-RIGHT: #7f9db9 1px solid; text-align:center; FONT-SIZE: 11px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 275px; COLOR: #014783;  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: center  ; TEXT-DECORATION: none; background-color:#ffffff;  }
.tablegreyborder {
background-color:#FFFFFF; border:2px solid #D7D7D7; padding:7px 7px 7px 7px;
}
.modalpopextenderbackground{opacity:0.3;filter:alpha(opacity=30);background-color:Black;}

#intro {
    width: 580px;
	margin: 0 auto;
	}
/*.wrapper1 {
	background-color: white;
	width: 480px;
	margin: 40px auto;
	padding: 50px;
	box-shadow: 0 0 5px #999;
	}*/

.list_carousel {
	background-color: #ccc;
	margin: 0px 0px 0px 0px;
	width: 929px;
	}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	}
.list_carousel li {
	/*font-size: 40px;*/
	color: #999;
	text-align: center;
	background-color: #eee;
	border: 2px solid #999;
	width: 146px;
	height: 143px;
	padding: 0;
	margin: 2px;
	display: block;
	float: left;
    }
.list_carousel.responsive {
    width: auto;
	margin-left: 0;
	}
	
.logo {
/*padding-right:10px;
padding-left:10px;*/
padding-right:0px;
padding-left:0px;

}
.clearfix {
	float: none;
	clear: both;
	}
.prev {
	float: left;
	margin-left: 10px;
    }
.next {
	float: right;
	margin-right: 10px;
	}
.pager {
	float: left;
	width: 300px;
	text-align: center;
    }
.pager a {
	margin: 0 5px;
	text-decoration: none;
	}
.pager a.selected {
    text-decoration: underline;
	}
.timer {
    background-color: #999;
	height: 6px;
	width: 0px;
